{% extends 'sensors/base.html' %}
{% load static %}

{% block title %}Acessos{% endblock %}
{% block uname %}{{ uname }}{% endblock %}

{% block custom-style %}
    table.table th:nth-last-child(2) {
        width: 100px;
    }
    table.table th:nth-last-child(3) {
        width: 130px;
    }
    table.table {
        table-layout: fixed;
    }
    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
    }
    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }
    table.table th:last-child {
        width: 80px;
    }
    table.table td a {
		cursor: pointer;
        display: inline-block;
        margin: 0 5px;
		min-width: 24px;
    }
	table.table td button.add, table.table td button#sensorUpdate {
        color: #27C46B;
    }
    table.table td button.edit {
        color: #FFC107;
    }
    table.table td button.delete {
        color: #E34724;
    }
    table.table td button.cancel {
        color: #808080;
    }
    table.table td button.notify {
        color: #007BFF;
    }
    table.table td button.reveal {
        color: #808080;
    }
    table.table td button.abac {
        color: #808080;
    }
    table.table td i {
        font-size: 19px;
    }
    table.table .form-control {
        height: 32px;
        line-height: 32px;
        box-shadow: none;
        border-radius: 2px;
    }
	table.table .form-control.error {
		border-color: #f50000;
	}
    .error {
        border-color: #f50000;
    }
    table.table .form-control[name="error"] {
    border-color: #f50000;
    }
    #inputSubject[name="error"] {
    border-color: #f50000;
    }
    #inputBody[name="error"] {
    border-color: #f50000;
    }
    #inputDescription[name="error] {
    border-color: #f50000;
    }
	table.table td .add {
		display: none;
	}
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <label id="id" style="display: none">
            {% if type == 'room' %}{{id}}{% elif type == 'sensor' %}{{id}}{% elif type == 'type' %}{{id}}{% endif %}
        </label>
        <a href="{% if type == 'type' %}types{% else %}sensors{% endif %}/{% if type == 'room' %}{{ id }}{% elif type == 'sensor' %}{{ metadata.room_id }}{% endif %}">
            <i class="fas fa-arrow-left fa-lg text-black-50 d-inline-block"></i>
            <h1 class="h3 mb-2 text-gray-800 d-inline-block" style="margin-left: 0.6em">{% if type == 'room' %}Sala {{ metadata.name }}{% elif type == 'sensor' %}Sensor {{ id }}{% elif type == 'type' %}Métrica {{ metadata.name }}{% endif %}</h1>
        </a>
        <br><br>

        <br>
        <div style="margin-bottom: 1em;" class="row">
            <div class="col-sm-11">
                <h1 class="h4 mb-2 text-gray-800">Políticas de Controlo de Acessos</h1>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-primary add-new"><i style="padding-right: 5px;" class="fa fa-plus"></i>Adicionar</button>
            </div>
            </div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                            <th>Sujeitos</th>
                            <th>Contexto</th>
                            <th>Descrição</th>
                            <th>Métodos</th>
                            <th>Efeito</th>
                            <th>Ações</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for policy in policies %}
                            <tr>
                                <td id="uuid" style="display: none">{{ policy.uuid }}</td>
                                <td id="Sujeitos">{{ policy.subjects | linebreaks  }}</td>
                                <td id="Contexto">{{ policy.context | linebreaks }}</td>
                                <td id="Descricao">{{ policy.description }}</td>
                                <td id="Metodos">{{ policy.actions }}</td>
                                <td id="Efeito" style="color: {% if policy.effect == "Allow" %}green{% else %}red{% endif %}"><b>{{ policy.effect }}</b></td>
                                <td>
                                    <button class="btn btn-link edit table-btn" data-toggle="tooltip" id="sensorEdit" title="Editar"><i class="material-icons">&#xE254;</i></button>
                                    <button class="btn btn-link delete table-btn" data-toggle="tooltip" id="sensorDelete" title="Apagar"><i class="material-icons">&#xE872;</i></button>
                                </td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
            {% if not policies %}
                <p>Não existem políticas associadas</p>
            {% endif %}
    </div>

    <div class="modal fade" id="policyModal" tabindex="-1" role="dialog" aria-labelledby="policyModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 650px;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="policyModalLabel"></h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                <label style="font-weight: bold">Sujeitos:</label>
                <br>
                <label style="margin-right: 10px; margin-left: 5px;"> Administradores </label>
                <div id="adminsModal" style="display: inline">
                    <div id="inputAdmins" class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-success">
                            <input type="radio" name="adminsOptions" id="adminsOn" autocomplete="off"> Sim
                        </label>
                        <label class="btn btn-outline-danger">
                            <input type="radio" name="adminsOptions" id="adminsOff" autocomplete="off"> Não
                        </label>
                    </div>
                </div>
                <button class="btn btn-circle" data-toggle="tooltip" id="adminsAdd" title="Restringir administradores"><i style="margin-bottom: 2px;" class="fa fa-plus-circle"></i></button>
                <button class="btn btn-circle" data-toggle="tooltip" id="adminsCancel" title="Cancelar o restringimento de administradores" style="display: none;"><i style="margin-bottom: 2px;" class="fa fa-times-circle"></i></button>
                <br>
                <label style="margin-right: 10px; margin-left: 5px;"> Docentes </label>
                <div id="teachersModal" style="display: inline">
                    <div id="inputTeachers" class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-success">
                            <input type="radio" name="teachersOptions" id="teachersOn" autocomplete="off"> Sim
                        </label>
                        <label class="btn btn-outline-danger">
                            <input type="radio" name="teachersOptions" id="teachersOff" autocomplete="off"> Não
                        </label>
                    </div>
                    <input type="text" id="teachersRestrict" placeholder="Ex: 49984, 49985" class="form-control" style="margin-left: 10px; max-width: 250px; display: inline-block">
                </div>
                <button class="btn btn-circle" data-toggle="tooltip" id="teachersAdd" title="Restringir docentes"><i style="margin-bottom: 2px;" class="fa fa-plus-circle"></i></button>
                <button class="btn btn-circle" data-toggle="tooltip" id="teachersCancel" title="Cancelar o restringimento de docentes" style="display: none;"><i style="margin-bottom: 2px;" class="fa fa-times-circle"></i></button>
                <br>
                <label style="margin-right: 10px; margin-left: 5px;"> Estudantes </label>
                <div id="studentsModal" style="display: inline">
                    <div id="inputStudents" class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-success">
                            <input type="radio" name="studentsOptions" id="studentsOn" autocomplete="off"> Sim
                        </label>
                        <label class="btn btn-outline-danger">
                            <input type="radio" name="studentsOptions" id="studentsOff" autocomplete="off"> Não
                        </label>
                    </div>
                    <input type="text" id="studentsRestrict" placeholder="Ex: 49984, 49985" class="form-control" style="margin-left: 10px; max-width: 250px; display: inline-block">
                </div>
                <button class="btn btn-circle" data-toggle="tooltip" id="studentsAdd" title="Restringir estudantes"><i style="margin-bottom: 2px;" class="fa fa-plus-circle"></i></button>
                <button class="btn btn-circle" data-toggle="tooltip" id="studentsCancel" title="Cancelar o restringimento de estudantes" style="display: none;"><i style="margin-bottom: 2px;" class="fa fa-times-circle"></i></button>
                <br>
                <label style="margin-right: 10px; margin-left: 5px;"> Unidades Curriculares </label>
                <div id="coursesModal" style="display: inline">
                    <div id="inputCourses" class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-success">
                            <input type="radio" name="coursesOptions" id="coursesOn" autocomplete="off"> Sim
                        </label>
                        <label class="btn btn-outline-danger">
                            <input type="radio" name="coursesOptions" id="coursesOff" autocomplete="off"> Não
                        </label>
                    </div>
                    <input type="text" id="coursesRestrict" placeholder="Ex: 49984, 49985" class="form-control" style="margin-left: 10px; max-width: 250px; display: inline;" required>
                </div>
                <button class="btn btn-circle" data-toggle="tooltip" id="coursesAdd" title="Restringir unidades curriculares"><i style="margin-bottom: 2px;" class="fa fa-plus-circle"></i></button>
                <button class="btn btn-circle" data-toggle="tooltip" id="coursesCancel" title="Cancelar o restringimento por unidades curriculares" style="display: none;"><i style="margin-bottom: 2px;" class="fa fa-times-circle"></i></button>
                <br>
                <label style="margin-right: 10px; margin-left: 5px;"> Email </label>
                <div id="emailModal" style="display: inline">
                    <div id="emailAdmins" class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-success">
                            <input type="radio" name="emailOptions" id="emailOn" autocomplete="off"> Sim
                        </label>
                        <label class="btn btn-outline-danger">
                            <input type="radio" name="emailOptions" id="emailOff" autocomplete="off"> Não
                        </label>
                    </div>
                    <input type="text" id="emailRestrict" placeholder="Ex: admin@ua.pt" class="form-control" style="margin-left: 10px; max-width: 250px; display: inline-block">
                </div>
                <button class="btn btn-circle" data-toggle="tooltip" id="emailAdd" title="Restringir por email"><i style="margin-bottom: 2px;" class="fa fa-plus-circle"></i></button>
                <button class="btn btn-circle" data-toggle="tooltip" id="emailCancel" title="Cancelar o restringimento de email" style="display: none;"><i style="margin-bottom: 2px;" class="fa fa-times-circle"></i></button>
                <br><br>
                <label  style="font-weight: bold">Contexto:</label>
                <br>
                <label style="margin-right: 10px; margin-left: 5px;"> Dia </label>
                <div id="dayModal" style="display: inline">
                    <div id="inputDay" style="display: inline">
                        <label class="btn btn-outline-info" style="margin-top: 10px;">
                            Desde <input type="date" class="btn btn-info" name="dayFrom" id="dayFrom" required> até <input type="date" class="btn btn-info" name="dayTo" id="dayTo" required>
                        </label>
                    </div>
                </div>
                <button class="btn btn-circle" data-toggle="tooltip" id="dayAdd" title="Restringir dias"><i style="margin-bottom: 4px;" class="fa fa-calendar-plus"></i></button>
                <button class="btn btn-circle" data-toggle="tooltip" id="dayCancel" title="Cancelar o restringimento de dias" style="display: none;"><i style="margin-bottom: 4px;" class="fa fa-calendar-times"></i></button>
                <br>
                <label style="margin-right: 10px; margin-left: 5px;"> Hora </label>
                <div id="hourModal" style="display: inline">
                    <div id="inputHour" style="display: inline">
                        <label class="btn btn-outline-info" style="margin-top: 10px;">
                            Desde as <input type="time" class="btn btn-info" name="hourFrom" id="hourFrom" required> até às <input type="time" class="btn btn-info" name="hourTo" id="hourTo" required>
                        </label>
                    </div>
                </div>
                <button class="btn btn-circle" data-toggle="tooltip" id="hourAdd" title="Restringir horas"><i style="margin-bottom: 2px;" class="fa fa-clock"></i></button>
                <button class="btn btn-circle" data-toggle="tooltip" id="hourCancel" title="Cancelar o restringimento de horas" style="display: none;"><i style="margin-bottom: 2px;" class="fa fa-times-circle"></i></button>
                <br>
                <label style="margin-right: 10px; margin-left: 5px;"> IP </label>
                <div id="ipModal" style="display: inline">
                    <div id="inputIP" class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-success">
                            <input type="radio" name="ipOptions" id="interna" autocomplete="off"> Interno
                        </label>
                        <label class="btn btn-outline-danger">
                            <input type="radio" name="ipOptions" id="externa" autocomplete="off"> Externo
                        </label>
                    </div>
                </div>
                <button class="btn btn-circle" data-toggle="tooltip" id="ipAdd" title="Restringir IPs"><i style="margin-bottom: 2px;" class="fa fa-plus-circle"></i></button>
                <button class="btn btn-circle" data-toggle="tooltip" id="ipCancel" title="Cancelar o restringimento de IPs" style="display: none;"><i style="margin-bottom: 2px;" class="fa fa-times-circle"></i></button>
                <br><br>
                <label for="inputDescricao" style="font-weight: bold">Descrição:</label>
                <textarea type="text" class="form-control input-lg" id="inputDescricao"></textarea>
                <br>
                <div style="width: 30%; float: left;">
                    <label for="inputEffect" style="font-weight: bold">Efeito:</label>
                    <br>
                    <div id="inputEffect" class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-outline-success active">
                        <input type="radio" name="options" id="allow" autocomplete="off"> Allow
                      </label>
                      <label class="btn btn-outline-danger">
                        <input type="radio" name="options" id="deny" autocomplete="off"> Deny
                      </label>
                    </div>
                </div>
                <div  style="width: 60%; float: right;">
                    <label for="inputEffect" style="font-weight: bold">Métodos:</label>
                    <br>
                    <label class="checkbox-inline"><input type="checkbox" id="GET" value=""> GET </label>
                    <label class="checkbox-inline"><input type="checkbox" id="POST" value=""> POST </label>
                    <label class="checkbox-inline"><input type="checkbox" id="DELETE" value=""> DELETE </label>
                </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
              <a class="btn btn-primary" style="color: white" id="submitPolicy">Submeter</a>
            </div>
          </div>
        </div>
    </div>

{% endblock content %}

{% block custom-script %}
    <script type="text/javascript">
    function showModal(edit, title, context){
        $('#policyModalLabel').html(title);
        if(edit) {
            $('#inputDescricao').html($(context).parents("tr").find('td#Descricao').text());
            $('input[id=\'' + $(context).parents("tr").find("td#Efeito").text().toLowerCase() + '\']').closest('.btn').button('toggle');
            $(context).parents("tr").find('td#Metodos').text().split(', ').forEach(
                method => $("#" + method).prop("checked", true)
            )
            var hasDayPolicy = $(context).parents("tr").find("td#Contexto").text().toLowerCase().indexOf("dias:");
            if (hasDayPolicy >= 0) {
                $('input[id=\'dayFrom\']').prop('value',$(context).parents("tr").find("td#Contexto").text().toLowerCase().substr(hasDayPolicy+9, 10));
                $('input[id=\'dayTo\']').prop('value',$(context).parents("tr").find("td#Contexto").text().toLowerCase().substr(hasDayPolicy+22, 10));
                $('#dayModal').show();
                $('#dayCancel').show();
                $('#dayAdd').hide();
            } else {
                $('#dayModal').hide();
            }
            var hasHourPolicy = $(context).parents("tr").find("td#Contexto").text().toLowerCase().indexOf("horas:");
            if (hasHourPolicy >= 0) {
                $('input[id=\'hourFrom\']').prop('value',$(context).parents("tr").find("td#Contexto").text().toLowerCase().substr(hasHourPolicy+10, 5));
                $('input[id=\'hourTo\']').prop('value',$(context).parents("tr").find("td#Contexto").text().toLowerCase().substr(hasHourPolicy+21, 5));
                $('#hourModal').show();
                $('#hourCancel').show();
                $('#hourAdd').hide();
            } else {
                $('#hourModal').hide();
            }
            var hasIPPolicy = $(context).parents("tr").find("td#Contexto").text().toLowerCase().indexOf("rede:");
            if (hasIPPolicy >= 0) {
                $('input[id=\'' + $(context).parents("tr").find("td#Contexto").text().toLowerCase().substr(hasIPPolicy+6, 7) + '\']').closest('.btn').button('toggle');
                $('#ipModal').show();
                $('#ipCancel').show();
                $('#ipAdd').hide();
            } else {
                $('#ipModal').hide();
            }
            var hasAdmin = $(context).parents("tr").find("td#Sujeitos").text().toLowerCase().indexOf("administradores");
            if (hasAdmin >= 0) {
                $('input[id=\'adminsOn\']').closest('.btn').button('toggle');
                $('#adminsModal').show();
                $('#adminsCancel').show();
                $('#adminsAdd').hide();
            } else {
                $('#adminsModal').hide();
            }
            $.each($(context).parents("tr").find("td#Sujeitos").html().split("<br>"), function(key, value) {
                $('#teachersModal').hide();
                if (value.toLowerCase().indexOf("docentes")>=0) {
                    $('input[id=\'teachersOn\']').closest('.btn').button('toggle');
                    $('#teachersModal').show();
                    $('#teachersCancel').show();
                    $('#teachersAdd').hide();
                    if (value.toLowerCase().indexOf(":")>=0) {
                        if (value.toLowerCase().indexOf("</")>0) {
                            $('#teachersRestrict').val(value.substr(value.toLowerCase().indexOf(":")+2,(value.toLowerCase().indexOf("</"))-(value.toLowerCase().indexOf(":")+2)));
                        } else {
                            $('#teachersRestrict').val(value.substr(value.toLowerCase().indexOf(":")+2));
                        }
                    } else {
                        $('#teachersRestrict').val("");
                    }
                    return false;
                }
            });
            $.each($(context).parents("tr").find("td#Sujeitos").html().split("<br>"), function(key, value) {
                $('#studentsModal').hide();
                if (value.toLowerCase().indexOf("estudantes")>=0) {
                    $('input[id=\'studentsOn\']').closest('.btn').button('toggle');
                    $('#studentsModal').show();
                    $('#studentsCancel').show();
                    $('#studentsAdd').hide();
                    if (value.toLowerCase().indexOf(":")>=0) {
                        if (value.toLowerCase().indexOf("</")>0) {
                            $('#studentsRestrict').val(value.substr(value.toLowerCase().indexOf(":")+2,(value.toLowerCase().indexOf("</"))-(value.toLowerCase().indexOf(":")+2)));
                        } else {
                            $('#studentsRestrict').val(value.substr(value.toLowerCase().indexOf(":")+2));
                        }
                    } else {
                        $('#studentsRestrict').val("");
                    }
                    return false;
                }
            });
            $.each($(context).parents("tr").find("td#Sujeitos").html().split("<br>"), function(key, value) {
                $('#coursesModal').hide();
                if (value.toLowerCase().indexOf("unidades curriculares")>=0) {
                    $('input[id=\'coursesOn\']').closest('.btn').button('toggle');
                    $('#coursesModal').show();
                    $('#coursesCancel').show();
                    $('#coursesAdd').hide();
                    if (value.toLowerCase().indexOf(":")>=0) {
                        if (value.toLowerCase().indexOf("</")>0) {
                            $('#coursesRestrict').val(value.substr(value.toLowerCase().indexOf(":")+2, (value.toLowerCase().indexOf("</"))-(value.toLowerCase().indexOf(":")+2)));
                        } else {
                            $('#coursesRestrict').val(value.substr(value.toLowerCase().indexOf(":")+2));
                        }
                    } else {
                        $('#coursesRestrict').val("");
                    }
                    return false;
                }
            });
            $.each($(context).parents("tr").find("td#Sujeitos").html().split("<br>"), function(key, value) {
                $('#emailModal').hide();
                if (value.toLowerCase().indexOf("email")>=0) {
                    $('input[id=\'emailOn\']').closest('.btn').button('toggle');
                    $('#emailModal').show();
                    $('#emailCancel').show();
                    $('#emailAdd').hide();
                    if (value.toLowerCase().indexOf(":")>=0) {
                        if (value.toLowerCase().indexOf("</")>0) {
                            $('#emailRestrict').val(value.substr(value.toLowerCase().indexOf(":")+2, (value.toLowerCase().indexOf("</"))-(value.toLowerCase().indexOf(":")+2)));
                        } else {
                            $('#emailRestrict').val(value.substr(value.toLowerCase().indexOf(":")+2));
                        }
                    } else {
                        $('#emailRestrict').val("");
                    }
                    return false;
                }
            });
        } else {
            $('#adminsModal').hide();
            $('#teachersModal').hide();
            $('#studentsModal').hide();
            $('#coursesModal').hide();
            $('#emailModal').hide();
            $('#dayModal').hide();
            $('#hourModal').hide();
            $('#ipModal').hide();
            $('input[type=radio]').prop("checked", false);
            $('input[type=radio]').parent('label').removeClass('active');
        }

        $('#policyModal').modal('show');
        $("#emailAdd").click(function(){
            $('input[id=\'emailOn\']').prop("checked", true);
            $('input[id=\'emailOff\']').prop("checked", false);
            $('input[id=\'emailOn\']').parent('label').addClass('active');
            $('input[id=\'emailOff\']').parent('label').removeClass('active');
            $('#emailModal').show();
            $('#emailAdd').hide();
            $('#emailCancel').show();
        });
        $("#emailCancel").click(function(){
            $('#emailModal').hide();
            $('#emailCancel').hide();
            $('#emailAdd').show();
            $('#emailRestrict').val("");
        });
        $("#adminsAdd").click(function(){
            $('input[id=\'adminsOn\']').prop("checked", true);
            $('input[id=\'adminsOff\']').prop("checked", false);
            $('input[id=\'adminsOn\']').parent('label').addClass('active');
            $('input[id=\'adminsOff\']').parent('label').removeClass('active');
            $('#adminsModal').show();
            $('#adminsAdd').hide();
            $('#adminsCancel').show();
        });
        $("#adminsCancel").click(function(){
            $('#adminsModal').hide();
            $('#adminsCancel').hide();
            $('#adminsAdd').show();
        });
        $("#teachersAdd").click(function(){
            $('input[id=\'teachersOn\']').prop("checked", true);
            $('input[id=\'teachersOff\']').prop("checked", false);
            $('input[id=\'teachersOn\']').parent('label').addClass('active');
            $('input[id=\'teachersOff\']').parent('label').removeClass('active');
            $('#teachersModal').show();
            $('#teachersAdd').hide();
            $('#teachersCancel').show();

        });
        $("#teachersCancel").click(function(){
            $('#teachersModal').hide();
            $('#teachersCancel').hide();
            $('#teachersAdd').show();
            $('#teachersRestrict').val("");
        });
        $("#studentsAdd").click(function(){
            $('input[id=\'studentsOn\']').prop("checked", true);
            $('input[id=\'studentsOff\']').prop("checked", false);
            $('input[id=\'studentsOn\']').parent('label').addClass('active');
            $('input[id=\'studentsOff\']').parent('label').removeClass('active');
            $('#studentsModal').show();
            $('#studentsAdd').hide();
            $('#studentsCancel').show();
        });
        $("#studentsCancel").click(function(){
            $('#studentsModal').hide();
            $('#studentsCancel').hide();
            $('#studentsAdd').show();
            $('#studentsRestrict').val("");
        });
        $("#coursesAdd").click(function(){
            $('input[id=\'coursesOn\']').prop("checked", true);
            $('input[id=\'coursesOff\']').prop("checked", false);
            $('input[id=\'coursesOn\']').parent('label').addClass('active');
            $('input[id=\'coursesOff\']').parent('label').removeClass('active');
            $('#coursesModal').show();
            $('#coursesAdd').hide();
            $('#coursesCancel').show();
        });
        $("#coursesCancel").click(function(){
            $('#coursesModal').hide();
            $('#coursesCancel').hide();
            $('#coursesAdd').show();
            $('#coursesRestrict').val("");
        });
        $("#dayAdd").click(function(){
            $('#dayModal').show();
            $('#dayAdd').hide();
            $('#dayCancel').show();
        });
        $("#dayCancel").click(function(){
            $('#dayModal').hide();
            $('#dayCancel').hide();
            $('#dayAdd').show();
            $('input[id=\'dayFrom\']').prop('value','');
            $('input[id=\'dayTo\']').prop('value','');
        });
        $("#hourAdd").click(function(){
            $('#hourModal').show();
            $('#hourAdd').hide();
            $('#hourCancel').show();
        });
        $("#hourCancel").click(function(){
            $('#hourModal').hide();
            $('#hourCancel').hide();
            $('#hourAdd').show();
            $('input[id=\'hourFrom\']').prop('value','');
            $('input[id=\'hourTo\']').prop('value','');
        });
        $("#ipAdd").click(function(){
            $('#ipModal').show();
            $('#ipAdd').hide();
            $('#ipCancel').show();
        });
        $("#ipCancel").click(function(){
            $('#ipModal').hide();
            $('#ipCancel').hide();
            $('#ipAdd').show();
            $('input[id=\'interna\']').prop("checked", false);
            $('input[id=\'externa\']').prop("checked", false);
            $('input[id=\'interna\']').parent('label').removeClass('active');
            $('input[id=\'externa\']').parent('label').removeClass('active');
        });

        $("#submitPolicy").unbind("click");
        $( "#submitPolicy" ).bind( 'click', function(){
            var pdata = {
                subjects: getSubjects(),
                actions: getActions(),
                context: getContext(),
                resources: [{"{{ type }}": "{{ id }}"}],
                effect: $('input[id=\'allow\']').prop('checked') ? 'allow' : 'deny',
                description: $("#inputDescricao").val()
            };
            if(edit) pdata['uid'] = $(context).parents("tr").find('td#uuid').text();
            error = false;
            /*
            if (desc.length == 0) {
                $('#inputDescricao').attr("name","error");
                error = true;
            }
            */
            if (error) return;
            $.post("/gestao/post/accessPolicy/" + (edit ? $(context).parents("tr").find('td#uuid').text() : "new"),
                {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    policy: JSON.stringify(pdata)
                },
                function() {
                    window.location.replace(window.location);
                }
            )
            $('#policyModal').modal('hide');
        });
    }

    function getSubjects() {
        res = [];
        if($('#adminsCancel').is(":visible")){
            if($('input[id=\'adminsOn\']').prop('checked')) res.push({'admin': 'true'});
            else if($('input[id=\'adminsOff\']').prop('checked')) res.push({'admin': 'false'});
        }
        if($('#teachersCancel').is(":visible")){
            if($('input[id=\'teachersOn\']').prop('checked')) {
                r = {'teacher': 'true'};
                if($("#teachersRestrict").val() != "") {
                    try{
                       courses = $("#teachersRestrict").val().split(",").map(function (course) {
                           parseInt(course.trim()); // check
                           return course.trim();
                       });
                       r['courses'] = courses;
                    }
                    catch (e) {}
                }
                res.push(r);
            }
            else if($('input[id=\'teachersOff\']').prop('checked')) res.push({'teacher': 'false'});
        }
        if($('#studentsCancel').is(":visible")){
            if($('input[id=\'studentsOn\']').prop('checked')) {
                r = {'student': 'true'};
                if($("#studentsRestrict").val() != "") {
                    try{
                       courses = $("#studentsRestrict").val().split(",").map(function (course) {
                           parseInt(course.trim()); // check
                           return course.trim();
                       });
                       r['courses'] = courses;
                    }
                    catch (e) {}
                }
                res.push(r);
            }
            else if($('input[id=\'studentsOff\']').prop('checked')) res.push({'student': 'false'});
        }
        if($('#coursesCancel').is(":visible")){
            if($('input[id=\'coursesOn\']').prop('checked')) {
                r = {};
                if($("#coursesRestrict").val() != "") {
                    try{
                       courses = $("#coursesRestrict").val().split(",").map(function (course) {
                           parseInt(course.trim()); // check
                           return course.trim();
                       });
                       r['courses'] = courses;
                       res.push(r);
                    }
                    catch (e) {}
                }
            }
        }
        if($('#emailCancel').is(":visible")){
            if($('input[id=\'emailOn\']').prop('checked')) {
                if($("#emailRestrict").val() != "") {
                   $("#emailRestrict").val().split(',').forEach(function (email) {
                            res.push({'email': email.trim()});
                       }
                   )
                }
            }
        }
        return res;
    }

    function getActions() {
        return ['GET', 'POST', 'DELETE'].filter(function (action) {
            return $('input[id=\'' + action + '\']').prop('checked')
        });
    }

    function getContext() {
        res = {};
        if($('#dayCancel').is(":visible")){
            if($("#dayFrom").val() != "" && $("#dayTo").val() != ""){
                res['date'] = {
                    'from': $("#dayFrom").val(),
                    'to': $("#dayTo").val()
                }
            }
        }
        if($('#hourCancel').is(":visible")){
            if($("#hourFrom").val() != "" && $("#hourTo").val() != ""){
                res['hour'] = {
                    'from': $("#hourFrom").val() + ":00",
                    'to': $("#hourTo").val() + ":00"
                }
            }
        }
        if($('#ipCancel').is(":visible")){
            if($('input[id=\'interna\']').prop('checked')) res['ip'] = 'internal';
            else if($('input[id=\'externa\']').prop('checked')) res['ip'] = 'external';
        }
        return res;
    }

    $(document).ready(function(){

        $('input:radio[name="teachersOptions"]').change(
            function(){
                if ($('input[id=\'teachersOff\']').is(':checked')) {
                    $('input[id=\'teachersOn\']').prop("checked", false);
                    $('input[id=\'teachersOff\']').prop("checked", false);
                    $('input[id=\'teachersOn\']').parent('label').removeClass('active');
                    $('input[id=\'teachersOff\']').parent('label').removeClass('active');
                    $('#teachersModal').hide();
                    $('#teachersCancel').hide();
                    $('#teachersAdd').show();
                    $('#teachersRestrict').val("");
                }
            });
        $('input:radio[name="studentsOptions"]').change(
            function(){
                if ($('input[id=\'studentsOff\']').is(':checked')) {
                    $('input[id=\'studentsOn\']').prop("checked", false);
                    $('input[id=\'studentsOff\']').prop("checked", false);
                    $('input[id=\'studentsOn\']').parent('label').removeClass('active');
                    $('input[id=\'studentsOff\']').parent('label').removeClass('active');
                    $('#studentsModal').hide();
                    $('#studentsCancel').hide();
                    $('#studentsAdd').show();
                    $('#studentsRestrict').val("");
                }
            });
        $('input:radio[name="coursesOptions"]').change(
            function(){
                if ($('input[id=\'coursesOff\']').is(':checked')) {
                    $('input[id=\'coursesOn\']').prop("checked", false);
                    $('input[id=\'coursesOff\']').prop("checked", false);
                    $('input[id=\'coursesOn\']').parent('label').removeClass('active');
                    $('input[id=\'coursesOff\']').parent('label').removeClass('active');
                    $('#coursesModal').hide();
                    $('#coursesCancel').hide();
                    $('#coursesAdd').show();
                    $('#coursesRestrict').val("");
                }
            });
        $('input:radio[name="emailOptions"]').change(
            function(){
                if ($('input[id=\'emailOff\']').is(':checked')) {
                    $('input[id=\'emailOn\']').prop("checked", false);
                    $('input[id=\'emailOff\']').prop("checked", false);
                    $('input[id=\'emailOn\']').parent('label').removeClass('active');
                    $('input[id=\'emailOff\']').parent('label').removeClass('active');
                    $('#emailModal').hide();
                    $('#emailCancel').hide();
                    $('#emailAdd').show();
                    $('#emailRestrict').val("");
                }
            });

        $('input:radio[name="adminsOptions"]').change(
            function(){
                if ($('input[id=\'adminsOff\']').is(':checked')) {
                    $('input[id=\'adminsOn\']').prop("checked", false);
                    $('input[id=\'adminsOff\']').prop("checked", false);
                    $('input[id=\'adminsOn\']').parent('label').removeClass('active');
                    $('input[id=\'adminsff\']').parent('label').removeClass('active');
                    $('#adminsModal').hide();
                    $('#adminsCancel').hide();
                    $('#adminsAdd').show();
                }
            });

        var actions = `<button class="btn btn-link edit table-btn" data-toggle="tooltip" id="sensorEdit"><i class="material-icons">&#xE254;</i></button>
                    <button class="btn btn-link delete table-btn" data-toggle="tooltip" id="sensorDelete"><i class="material-icons">&#xE872;</i></button>`;
        // Append table with add row form on add new button click
        $(".add-new").click(function(){
            showModal(false, "Adicionar Política", this);
        });
        $(document).on("click", "#sensorEdit", function(){
            showModal(true, "Editar Política", this);
        });

        // Delete row on delete button click
        $(document).on("click", ".delete", function(){
            $(this).parents("tr").remove();
            $.post("/gestao/delete/accessPolicy/" + ($(this).parents("tr").find('td#uuid').text()),
                {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }
            );
        });

        $('#policyModal').on('hidden.bs.modal', function () {
            $('#adminsAdd').show();
            $('#adminsCancel').hide();
            $('#teachersAdd').show();
            $('#teachersCancel').hide();
            $('#studentsAdd').show();
            $('#studentsCancel').hide();
            $('#coursesAdd').show();
            $('#coursesCancel').hide();
            $('#emailAdd').show();
            $('#emailCancel').hide();
            $('#dayAdd').show();
            $('#dayCancel').hide();
            $('#hourAdd').show();
            $('#hourCancel').hide();
            $('#ipAdd').show();
            $('#ipCancel').hide();
            $('#inputDescricao').text("");
            $('#inputDescricao').removeAttr("name");
            $('input[id=\'allow\']').closest('.btn').button('toggle');
            $("#GET").prop("checked", false);
            $("#POST").prop("checked", false);
            $("#DELETE").prop("checked", false);
            $('input[id=\'dayFrom\']').prop('value','');
            $('input[id=\'dayTo\']').prop('value','');
            $('input[id=\'hourFrom\']').prop('value','');
            $('input[id=\'hourTo\']').prop('value','');
            $('#adminsModal').hide();
            $('#teachersModal').hide();
            $('#studentsModal').hide();
            $('#coursesModal').hide();
            $('#emailModal').hide();
            $('#dayModal').hide();
            $('#hourModal').hide();
            $('#ipModal').hide();
            $('input[type=radio]').prop("checked", false);
            $('input[type=radio]').parent('label').removeClass('active');
            $('#teachersRestrict').val("");
            $('#studentsRestrict').val("");
            $('#coursesRestrict').val("");
            $('#emailRestrict').val("");
        });
    });
    </script>
{% endblock %}

{% block nav-item %}{% if type == 'type' %}types{% else %}sensors{% endif %}{% endblock %}