<!DOCTYPE html>
<html lang="en">

{% load static %}

    <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>{% block title %}{% endblock %} - DETImótica</title>

      <!-- Custom fonts for this template-->
      <link href="{% static "sensors/vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

      <link rel="shortcut icon" type="image/png" href="{% static 'sensors/images/favicon.png' %}"/>

      <!-- Custom styles for this template-->
      <link href="{% static "sensors/css/sb-admin-2.min.css" %}" rel="stylesheet">

      <style type="text/css">{% block custom-style %}{% endblock %}</style>

    </head>

    <body id="page-top">

      <!-- Page Wrapper -->
      <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon">
              <img style="display:table-cell;" src={% static "sensors/images/favicon.png" %} width="30" height="30" alt="DETImotica logo">
            </div>
            <div class="sidebar-brand-text mx-3">DETImótica</div>
          </a>

          <!-- Divider -->
          <hr class="sidebar-divider my-0">

          <!-- Nav Item - Dashboard -->
          <li class="nav-item" id="nav-home">
            <a class="nav-link" href="/">
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>Home</span></a>
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider">

          <!-- Heading -->
          <div class="sidebar-heading">
            Inventário
          </div>

          <li class="nav-item" id="nav-rooms">
            <a class="nav-link" href="/rooms">
              <i class="fas fa-fw fa-table"></i>
              <span>Salas</span></a>
          </li>

          <li class="nav-item" id="nav-types">
            <a class="nav-link" href="/types">
              <i class="fas fa-fw fa-table"></i>
              <span>Tipos de Métricas</span></a>
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider">

          <!-- Heading -->
          <div class="sidebar-heading">
            Acessos
          </div>


          <li class="nav-item" id="nav-abac">
            <a class="nav-link" href="charts.html">
              <i class="fas fa-fw fa-chart-area"></i>
              <span>Placeholder</span></a>
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider d-none d-md-block">

          <!-- Sidebar Toggler (Sidebar) -->
          <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
          </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

              <!-- Sidebar Toggle (Topbar) -->
              <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
              </button>

                <h5 style="padding-left: 0.5em"><b>Plataforma de Gestão</b></h5>

              <!-- Topbar Navbar -->
              <ul class="navbar-nav ml-auto">

                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="mr-2 d-none d-lg-inline text-gray-600 small"><b>{% block uname %}{% endblock %}</b></span>
                  </a>
                  <!-- Dropdown - User Information -->
                  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                      Logout
                    </a>
                  </div>
                </li>

              </ul>

            </nav>
            <!-- End of Topbar -->

            {% block content %}{% endblock %}

          </div>
          <!-- End of Main Content -->

            <div class="footer py-2 text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="https://www.ua.pt/deti/"><img src="{% static "sensors/images/deti.png" %}" ></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr>
                                <p class="mb-0"><b>Projeto em Engenharia Informática 2020 - Grupo 02 - MIECT</b></p>
                            </div>
                        </div>
                    </div>
                </div>
          <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

      </div>
      <!-- End of Page Wrapper -->

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>

        <!-- Logout Modal-->
      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Confirmar Saída</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Selecione o botão "Logout" para confirmar a saída da sessão.</div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
              <!-- TODO -->
              <a class="btn btn-primary" href="/logout">Logout</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Bootstrap core JavaScript-->
      <script src="{% static "sensors/vendor/jquery/jquery.min.js" %}"></script>
      <script src="{% static "sensors/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

      <!-- Core plugin JavaScript-->
      <script src="{% static "sensors/vendor/jquery-easing/jquery.easing.min.js" %}"></script>

      <!-- Custom scripts for all pages-->
      <script src="{% static "sensors/js/sb-admin-2.min.js" %}"></script>

      {% block custom-script %}{% endblock %}

      <script>
          $("#nav-{% block nav-item %}{% endblock %}").addClass('active');
      </script>

    </body>
</html>