{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'sensors/style.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'sensors/images/favicon.png' %}"/>

{% if sensor %}
<h1>Sala {{ sensor.sensor_id }}</h1>
<ul>
        <li>
            {{ sensor.room_id }}
            {{ sensor.description }}
            {{ sensor.type }}
            {{ sensor.symbol }}
        </li>
</ul>
{% else %}
<p>Room not available.</p>
{% endif %}
<form action="{% url 'sensors:sensors' %}">
    {% csrf_token %}
    <h2>Test</h2>
    <label for="sensor">ID do Sensor: </label>
    <input type="text" name="sensor" id="sensor" readonly="true" size="36" value="{{ sensor.sensor_id }}"><br><br>
    <label for="description">Descrição: </label>
    <input type="text" name="description" id="description" size="50" placeholder="{{sensor.description}}" value="{{ sensor.description }}"><br><br>
    <label for="room">Sala: </label>
    <select id="room" name="room">
        {% for room in rooms %}
        <option value="{{ room.room_id }}">{{ room.name }} - {{ room.room_id }}</option>
        {% endfor %}
    </select><br><br>
    <label for="type">Métrica: </label>
    <select id="type" name="type">
        {% for type in types %}
        <option value="{{ type.metric }}">{{ type.metric}}</option>
        {% endfor %}
    </select><br><br>
    <label for="symbol">Símbolo da Unidade: </label>
    <input type="text" name="symbol" id="symbol" size="5" placeholder="{{sensor.symbol}}" value="{{ sensor.symbol }}"><br><br>
    <input type="submit" value="Update">
    <input type="reset" value="Reset">

</form>