{% extends 'sensors/base.html' %}
{% load static %}

{% block title %}Sensores{% endblock %}
{% block uname %}{{ uname }}{% endblock %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h2 mb-2 text-gray-800">Sensores</h1>
    <br>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DETI</h6>
        </div>
        <div class="card-body">
            {% if rooms_list %}
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Sala</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for room in rooms_list %}
                    <tr>
                        <td>
                            <a href="{% url 'sensors:roomDetails' room_id=room.room_id  %}">{{ room }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p>Não existe nenhuma sala disponível.</p>
            {% endif %}
        </div>
    </div>

</div>

{% endblock content %}

{% block nav-item %}sensors{% endblock %}